@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand color palette */
  --brand-purple: #d1baff; /* DEX D1BAFF */
  --brand-green: #c0fab2; /* DEX C0FAB2 */
  --brand-orange: #ffa988; /* DEX FFA988 */
  --brand-blue: #82c3ff; /* DEX 82C3FF */
  --brand-pink: #f7a7e1; /* DEX F7A7E1 */
}

@font-face {
  font-family: "Darker_Grotesque";
  src: url("/fonts/DarkerGrotesque.ttf") format("truetype");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Darker_Grotesque", Arial, Helvetica, sans-serif;
}

section {
  scroll-margin-top: 100px;
}

.ticker-container {
  width: 100%;
}

.ticker-wrapper {
  display: inline-block;
  white-space: nowrap;
  animation: ticker 60s linear infinite;
}

.ticker-wrapper:hover {
  animation-play-state: paused;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
